=begin
#Firecrawl Agent API

#AI-powered web research agent built on Firecrawl. Search, scrape, and extract structured data from the web. 

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module FirecrawlAgent
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get parallel worker progress
    # Poll for progress of currently running parallel workers.
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, WorkerProgress>]
    def get_worker_progress(opts = {})
      data, _status_code, _headers = get_worker_progress_with_http_info(opts)
      data
    end

    # Get parallel worker progress
    # Poll for progress of currently running parallel workers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, WorkerProgress>, Integer, Hash)>] Hash<String, WorkerProgress> data, response status code and response headers
    def get_worker_progress_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_worker_progress ...'
      end
      # resource path
      local_var_path = '/workers/progress'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, WorkerProgress>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.get_worker_progress",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_worker_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available skills
    # Returns all discovered skills the agent can use.
    # @param [Hash] opts the optional parameters
    # @return [Array<Skill>]
    def list_skills(opts = {})
      data, _status_code, _headers = list_skills_with_http_info(opts)
      data
    end

    # List available skills
    # Returns all discovered skills the agent can use.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Skill>, Integer, Hash)>] Array<Skill> data, response status code and response headers
    def list_skills_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.list_skills ...'
      end
      # resource path
      local_var_path = '/skills'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Skill>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.list_skills",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#list_skills\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run the agent
    # Execute a web research task. Supports both streaming (SSE) and non-streaming responses. This is the single consolidated endpoint that replaces /query, /extract, and /plan. 
    # @param run_request [RunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RunResponse]
    def run(run_request, opts = {})
      data, _status_code, _headers = run_with_http_info(run_request, opts)
      data
    end

    # Run the agent
    # Execute a web research task. Supports both streaming (SSE) and non-streaming responses. This is the single consolidated endpoint that replaces /query, /extract, and /plan. 
    # @param run_request [RunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunResponse, Integer, Hash)>] RunResponse data, response status code and response headers
    def run_with_http_info(run_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.run ...'
      end
      # verify the required parameter 'run_request' is set
      if @api_client.config.client_side_validation && run_request.nil?
        fail ArgumentError, "Missing the required parameter 'run_request' when calling DefaultApi.run"
      end
      # resource path
      local_var_path = '/run'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/event-stream']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(run_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
