# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule FirecrawlAgentAPI.Api.Default do
  @moduledoc """
  API calls for all endpoints tagged `Default`.
  """

  alias FirecrawlAgentAPI.Connection
  import FirecrawlAgentAPI.RequestBuilder

  @doc """
  Get parallel worker progress
  Poll for progress of currently running parallel workers.

  ### Parameters

  - `connection` (FirecrawlAgentAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, %{}}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_worker_progress(Tesla.Env.client, keyword()) :: {:ok, %{optional(String.t) => FirecrawlAgentAPI.Model.WorkerProgress.t}} | {:error, Tesla.Env.t}
  def get_worker_progress(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/workers/progress")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}}
    ])
  end

  @doc """
  List available skills
  Returns all discovered skills the agent can use.

  ### Parameters

  - `connection` (FirecrawlAgentAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%Skill{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_skills(Tesla.Env.client, keyword()) :: {:ok, [FirecrawlAgentAPI.Model.Skill.t]} | {:error, Tesla.Env.t}
  def list_skills(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/skills")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, FirecrawlAgentAPI.Model.Skill}
    ])
  end

  @doc """
  Run the agent
  Execute a web research task. Supports both streaming (SSE) and non-streaming responses. This is the single consolidated endpoint that replaces /query, /extract, and /plan. 

  ### Parameters

  - `connection` (FirecrawlAgentAPI.Connection): Connection to server
  - `run_request` (RunRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, FirecrawlAgentAPI.Model.RunResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec run(Tesla.Env.client, FirecrawlAgentAPI.Model.RunRequest.t, keyword()) :: {:ok, FirecrawlAgentAPI.Model.RunResponse.t} | {:ok, FirecrawlAgentAPI.Model.ErrorResponse.t} | {:error, Tesla.Env.t}
  def run(connection, run_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/run")
      |> add_param(:body, :body, run_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, FirecrawlAgentAPI.Model.RunResponse},
      {400, FirecrawlAgentAPI.Model.ErrorResponse},
      {500, FirecrawlAgentAPI.Model.ErrorResponse}
    ])
  end
end
